.background {
    -fx-background-color: rgba(119, 91, 171, 0.5);
}


.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3c3252;
    -fx-opacity: 0.9;
    -fx-font-weight: bold;
}


.button {
    -fx-border-color: #3c3252;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: aliceblue;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
}


.button:hover {
    -fx-background-color: darkgrey;
}


.check-box {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #2a2338;
    -fx-opacity: 0.9;
    -fx-font-weight: bold;
}

.combo-box .list-cell
{
    -fx-font-family: "Segoe UI Semibold";
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: midnightblue;
}


.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: rgba(148, 182, 222, 0.65);
    -fx-text-fill: red;
}


.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, lightpink, mediumorchid);
}

